@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
body{
  background-color: white;
}
img{
    margin-top: 1rem;
    width: 200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid; */
    box-shadow:2px 2px 5px 12px whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:url(../Assets/img/bg-for-main.png); */
    /* background: url(); */
}
.paragarap p{
    margin-top: 40px;
    color: black;
    width: 100%;
    background-color: white;
    font-weight: bolder;
    font-family: 'Lora', serif;
    text-align: center;
    text-indent: 30px;
   
}
.color{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,135,88,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px 10px 10px 10px solid ;
}
/* .semester{
    background: url(./image/wave-haikei\ \(1\).svg);
    background-size: cover;
} */
/* a{
    margin-top: 10px;
    margin: 10px;
 height: 20px;
 width: 20px;
 border: 2px solid white;
 border-radius: 10px;
 color: white;
 padding: 10px;
 text-decoration: none;
}
a:hover{
    background-color: white;
}
a::after{
    height: 60px;
} */
h4{
  color: black;
font-family: 'Noto Serif', serif;
font-size: 20px;
font-weight: bolder;
text-align: center;
}
h6{
  color: white;
font-family: 'Noto Serif', serif;
font-weight: bolder;
text-align: center;
font-size: 20px;
margin-bottom: 20px;
}
h6 small{
    color: black;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  }
h6 a{
  text-decoration: none;
  color: #555;
}
h6 i{
  color: red;
}
/*  hide class */

/* navbar code */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
    border: 2px solid white;
 border-radius: 10px;
  background-color: black;
  color:#fff;
  /* border: none; */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: justify;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:white;
  color: black;
  /* background: black; */
}

.dropdown-content a {
  color: black;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  display: inline;
}

.dropdown-content a:hover {
  text-align: justify;
  background-color: #f1f1f1;
  /* background: black; */
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Optional styling for active link */
.dropdown-content a.active {
  background-color:white;
  color: black;
}
/* semester division */
.sem-main{
  /* background:url(https://img.freepik.com/free-vector/flat-design-abstract-background_23-2149114342.jpg?size=626&ext=jpg&ga=GA1.2.1940331963.1682264116&semt=ais); */
  padding:10% 0;
 ;
}

