/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&family=Bakbak+One&display=swap');


*{
  padding: 0;
  margin: 0;
 
}
/* header unit css */
.body{
   /* back-gradient */
   background: rgb(32,8,60);
   background: linear-gradient(238deg, rgba(32,8,60,1) 0%, rgba(2,0,36,1) 44%, rgba(2,0,36,1) 100%);
   /* background-image: url(../img/3d-box-.jpg);
   background-position:cover;
   background-size: cover;
   background-repeat: no-repeat; */
   /* Background styles */
   color: white; 
   /* -webkit-filter: blur(8px); */

}
/* total div css */
   

/* unit */
.unit{
   text-align: center; 
   margin-top: 0; 
} 

.unit>span{
   font-family: 'Bakbak One';
   background-color: #3f0b70;
   display:inline-block;
   font-size: 20px;
   height:50px;
   width: 60px;
   font-size:30px;
   margin-top: 1%;
 border-bottom-left-radius: 15px;
 border-top-right-radius: 15px;
 border-bottom-right-radius: 2px;
 border-top-left-radius:2px ;
 /* box shadow */
 -webkit-box-shadow: 0px 3px 6px 1px #3F0B70; 
 box-shadow: 0px 3px 6px 1px #3F0B70;
}
/* end of the unit */
/*    start of the header division */

.header{
   text-align: center;
   height:100px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* box shadow effect */
   
}
.note{
  font-family: 'Bakbak One';
  margin-left:3px; 
}
.header p{
   margin-top:1.6em;
   font-size: larger;
   font-family: 'Bakbak One';
   font-size:1.3em;
   /* 3d text format */
   position: absolute;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191,
        1px 3px 1px #919191, 
    1px 18px 6px rgba(16,16,16,0.4),
   1px 5px 10px rgba(16,16,16,0.2),
    1px 5px 10px rgba(16,16,16,0.2),
    1px 10px 10px rgba(16,16,16,0.4); 
    /* box shadow for the header */
    /* -webkit-box-shadow: 0px 3px 8px 5px #000000; 
   box-shadow: 0px 3px 8px 5px #000000; */

}
/* cap style */
.unit>i{
   position:absolute;
   margin-left:3rem;
   margin-top:0;
   transform: rotate(35deg);
   height:30px;
   width: 30px;
   color :white;
   
}
/* */

/* end of the header division */

/* start of he unit name and unit lis division */
.unit-div{
    height:auto; 
   font-family: 'Alkatra';
   font-weight: bold; 
   padding: 0;
   margin: 0;
   margin-top:20px;
/* glassmorphism effect */
backdrop-filter: blur(25px) saturate(117%);
-webkit-backdrop-filter: blur(25px) saturate(117%);
background-color: rgba(8, 8, 27, 0.5);
border-radius: 7px;
border: 1px solid rgba(255, 255, 255, 0.125);
scrollbar-width: 0px;

}
 .unit-div-2{
   height:auto;
   font-family: 'Alkatra';
   font-weight: bold; 
   padding: 0;
   margin: 0;
 backdrop-filter: blur(25px) saturate(117%);
 -webkit-backdrop-filter: blur(25px) saturate(117%);
background-color: rgba(8, 8, 27, 0.5);
border-radius: 7px;
border: 1px solid rgba(255, 255, 255, 0.125);
position:relative;
z-index: 4;
} 
.unit-div::-webkit-scrollbar{
   width: 0px;
   display: none;
}
/* sec division sytle */
.sec-div{
   margin-top:2em;
   display: flex;
}
/* end of the secion div */

/* color border for the division */
.blue{
  border-left: #3F0B70 solid .5rem;
  height:auto;
  border-radius: 10px;
}
.yellow{
   border-left: #e6ff02 solid .5rem;
   height:auto;
   border-radius: 10px;
 }
 .green{
   border-left: #00ff00 solid .5rem;
   height:auto;
   border-radius: 10px;
 }
 .pink{
   border-left: #f80693 solid .5rem;
   height:auto;
   border-radius: 10px;
 }
 .orange{
   border-left: rgb(255, 166, 0) solid .5rem;
   height:auto;
   border-radius: 10px;
 }
/* unit name style  */
.unit-name{
   font-size:1em;
   height:40px;
   font-family: 'Bakbak One';
/* -webkit-box-shadow: 5px 5px 18px 8px #000000; 
box-shadow: 5px 5px 18px 8px #000000; */
}
/* unit name icon book */
i{
   margin:5px;
   color: #3F0B70;

}
/* unit topics style */
.unit-topics{
   overflow-y: auto;
   /* height:50px; */
   display: flex;
   font-size:1rem;
   /* border: #000000 solid 2px; */
   border-radius:18px;
   text-align: center;
   scrollbar-width: 0px;
   -webkit-box-shadow: 3px 3px 6px 6px #000000; 
   box-shadow: 3px 3px 6px 6px #000000;
}

/* scroll bar hide */
.unit-topics::-webkit-scrollbar{
   width: 0px;
   scrollbar-width: 0px;
}
/* tpoics li  */
.unit-topics>ul{
  margin:2px;
  padding-left:10px;
}
/* topics anchor tag */
.unit-topics>ul a{
   text-decoration: none;
   color: rgb(150, 99, 4);
}
.footer{
   display: flex;
   align-items: center;
   justify-content: center; 
   height:50px;
   font-size: larger;
   font-family: 'Bakbak One';
}
/* video container css */
.video-container {
   position:relative;
   z-index:3;
   text-align: center;
 }
 
 .video-text {
   text-align: center;
   font-weight: bold;
   color: white;
   cursor: pointer;
   width: auto;
   margin-left: 2rem;
 }
 
 
 .video-iframe-container {
  width: 80vw;
  height: 100px;
  backdrop-filter: blur(25px) saturate(117%);
 -webkit-backdrop-filter: blur(25px) saturate(117%);
 background: linear-gradient(238deg, rgba(32,8,60,1) 0%, rgba(2,0,36,1) 44%, rgba(2,0,36,1) 100%);
 border-radius: 7px;
 border: 1px solid rgba(255, 255, 255, 0.125);
 display:none;
 animation: hover  1s;
 }
 .hoverback{
   animation: hoverback 1s;
 }
 @keyframes hover {
   0%{
      height: 25px;
      opacity:0;
   }
   25%{
      height: 50px;
      opacity: 0;
   }
   50%{
      height: 75px;
      opacity: .2;
   }

   100%{
      height: 100px;
      opacity: 1;
   }
 }

 @keyframes hoverback {
   0%{
      height: 100px;
      opacity:1;
   }
   25%{
      height: 75px;
      opacity: .5;
   }
   50%{
      height: 50px;
      opacity: .2;
   }

   100%{
      height: 0px;
      opacity: 0;
   }
 }

 .link-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .link-container>a{
  text-decoration: none;
  color: white;
 }
 .video-iframe-english{
   display: none;
 }
 .video-iframe-container>p{
   margin: 0;
   padding: 0;
   border: 0;
   cursor: pointer;
 }
 .video-iframe-container>iframe{
   margin-top: 1rem;
   border-radius:.3rem;
   /* margin-left:1.5rem; */
 } 
 .video-text{
   margin:2px;
   padding-left:10px;
   width:9rem;
   text-align: center;
 }


